
body {font-family: 'Oxygen', sans-serif;}

.buttonhello{
  display:inline-block;
  width:125px;
  height:125px;
  border-radius:62.5px;
  font-size:17px;color:#fff;
  line-height:125px;
  text-align:center;
  background:#78E3E8;
  text-decoration:none;
  margin: 10px;
}

.buttongoodbye{
  display:inline-block;
  width:60px;
  height:60px;
  border-radius:30px;
  font-size:12px;color:#fff;
  line-height:60px;
  text-align:center;
  background:#78E3E8;
  text-decoration:none;
}

#hi:hover span {display:none}
#hi:hover:before {content:"I'm Tess!"}

#gb:hover span {display:none}
#gb:hover:before {content:"Miss you!!"}

li {display: inline;}

.welcome {width: 960px;
text-align: center;
padding-top: 200px;
margin-left: 35px;}

.goodbye {width:960px;
text-align: right;
margin-left: 100px;}

a {text-align: center}

a.buttonhello:hover {background: #94E899}

a.buttongoodbye:hover {background: #94E899}

#goodbyep {width: 600px; margin: 50px;}
iframe {margin-left: 90px}


.myblog h1 {color: #EBB1B1;
font-size: 20px;
float: left;
padding-left: 50px;
padding-right: 50px}

.myblog p {width: 800px;
padding-top: 50px;
padding-left: 275px}

.about {text-indent: 40px}

